* {
  box-sizing: border-box;
}

#counter {
  background-color: #000;
  color: #fff;
  font-size: 200px;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.animacja {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
}

#count1, #count2, #count3, #count4, #count5, #count6, #count7, #count8, #count9, #count10, #countlast {
  visibility: hidden;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#count1, #count2, #count3, #count4, #count5, #count6, #count7, #count8, #count9, #count10 {
  animation-name: znikanie;
}

@keyframes znikanie {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes pojawieniesie {
  0%, 100% {
    visibility: visible;
  }
}

#count9 {
  animation-delay: 1s;
}

#count8 {
  animation-delay: 2s;
}

#count7 {
  animation-delay: 3s;
}

#count6 {
  animation-delay: 4s;  
}

#count5 {
  animation-delay: 5s;
}

#count4 {
  animation-delay: 6s;
}

#count3 {
  animation-delay: 7s;
}

#count2 {
  animation-delay: 8s;
}

#count1 {
  animation-delay: 9s;
}

#countlast {
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-name: pojawieniesie;
  font-size: 140px;
  line-height: inherit;
}



